altair
annotated-doc
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
dotenv
faiss-cpu
fastapi
filelock
fsspec
GitPython
gitdb
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markupsafe
mpmath
narwhals
networkx
numpy<2.0
openai
orjson
ormsgpack
packaging
pandas
pickle-mixin
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
pyparsing
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uuid_utils
watchdog
xxhash
zstandard
