altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
faiss-cpu
filelock
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
MarkupSafe
mpmath
narwhals
networkx
numpy<2.0
openai
packaging
pandas
pickle-mixin
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
pyparsing
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
soupsieve
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
